@media screen and (width >= 768px) {

.homepageContainer {
  position: absolute;
  left: 150px;
  top: 44px;
  padding-right: 15px;
  display: grid;
  gap: 12px;

  /* default number of columns, overridden by JS */
  --cols: 6;

  /* grid based on columns */
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));

  overflow: hidden;
  padding-bottom: 20px;
}

/* Each image keeps your 2:3 shape */
.imageContainer {
  width: 100%;
  aspect-ratio: 2 / 3;
  transition: all 0.15s ease;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 0.10s ease-in-out;
  cursor: pointer;
}

.image:hover {
  filter: grayscale(0);
}

}

@media screen and (width <= 768px) {

  .homepageContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    width: 100%;
    place-items: center;
    padding: 0 10px;
  }

  .imageContainer {
    width: 100%;
    height: 125px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}