:root {
}

@font-face {
  font-family: 'PPMont Medium';
  src: url(../public/PPNeueMontreal-Medium.woff);
}

@font-face {
  font-family: 'PPMont Bold';
  src: url(../public/PPNeueMontreal-Bold.woff);
}

@font-face {
  font-family: 'PPMont Regular';
  src: url(../public/PPNeueMontreal-Regular.woff);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PPMont Medium';
  font-size: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}